.upload-text {
  .dot-anim::after {
    content: '.';
    animation: dots 1.2s steps(3, end) infinite;
  }

  .result {
    max-height: 300px;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 6px;
    background-color: var(--bg);
    white-space: pre-wrap;
    overflow-y: auto;
    color: var(--text);
  }
}
