.cloud-counter {
  position: fixed;
  top: 6rem;
  right: 2rem;
  z-index: 100;
  padding: 0.4rem 0.6rem;
  border: 2px solid var(--text);
  border-style: dashed;
  border-radius: 4px;
  background-color: var(--header-footer-bg);

  @media (max-width: 900px) {
    top: 5rem;
    right: 1.5rem;
  }

  .cloud-container {
    .rate-limit-counter {
      display: block;
      width: fit-content;
      text-align: center;
      margin: auto;
      border-radius: 4px;
      font-family: 'Source Code Pro', monospace;
      font-size: 1.7rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
      line-height: 1;
      color: var(--contrast);

      @media (max-width: 900px) {
        font-size: 1.4rem;
      }
    }
  }
}
