.examples-root {
  position: relative;
  display: flex;

  .left-col {
    flex: 0 0 auto;
  }
}

.example-container {
  max-width: 680px;
  margin-block-end: 1.5rem;
  padding: 1rem;
  border-radius: 3px;
  background-color: var(--header-footer-bg);
  // border: 1px solid var(--accent);
  box-shadow: 2px 2px 7px var(--accent);
  color: var(--text);

  h3 {
    color: var(--accent);
  }

  .disabled-text {
    color: #d89f4e;
  }
}