.image-analyzer {
  input {
    border: 1px solid #333;
    padding: 0.5rem;
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 1rem;
  }

  .text-input {
    width: 100%;
    margin-block: 1rem;
    font-size: 1rem;
  }

  .analysis-result {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 6px;
    background-color: var(--bg);
  }
}
