.image-analyzer {
  padding: 1rem;
  border: 2px solid var(--accent);
  border-radius: 3px;
  max-width: 600px;
  margin-block: 1rem 1.5rem;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  background-color: var(--header-footer-bg);
}

input {
  border: 1px solid #333;
  padding: 0.5rem;
  background-color: #fff;
}
.text-input {
  width: 100%;
  margin-block: 1rem;
  font-size: 1rem;
  color: #333;
}
