footer {
  margin-block-start: auto;
  box-shadow: 0 -15px 30px rgba(216, 161, 123, 0.25);
  background-color: var(--header-footer-bg);

  & p {
    margin-inline: auto;
    text-align: center;
  }
}

.footer-inner-container {
  max-width: 1400px;
  margin: 0 auto;
}