#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  color: var(--text);
}

main {
  flex: 1;
  padding: 1rem;
}

nav {
  display: flex;
  color: var(--accent);

  a {
    display: block;
    border-inline-end: 1px solid #333;
    border-collapse: collapse;
    padding: 1rem;
    background-color: #eee;
  }
}
