/* css-reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* html tag */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #f9fafc;
  --text: #1a1a1a;
  --header-footer-bg: #eaf1fb;
  --header-pattern-fill: %232979ff;
  --accent: #2979ff;
  --accent-hover: #2d7ff9;
}

[theme='dark'] {
  --bg: #0f1115;
  --text: #e6e6e6;
  --header-footer-bg: #1c2026;
  --header-pattern-fill: %23ffffff;
  --accent: #00b8ff;
  --accent-hover: #00c2ff;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #eeefff; /* Fallback */
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid var(--text);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #e6e6e6;
  background-color: #446aa4;
  cursor: pointer;
}
button:hover {
  background-color: #608bcd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
