/* css-reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 3.2em;
  font-weight: 400;
}

:root {
  /* html tag */
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #f3f8ff;
  --text: #222;
  --header-footer-bg: #aec7d2;
  --accent: #329ab4;
  --accent-hover: #22b1d5;
  --orange: #d8a17b;
  --input-bg: #fff;
  --input-text: #333;
  --disabled: #ddd;
  --disabled-text: #bbb;
}

[theme='dark'] {
  --bg: #0d0f12;
  --text: #eee;
  --header-footer-bg: #1b272d;
  /* --header-footer-bg: #1a2022; */
  --input-bg: #1a2022;
  --input-text: #eee;
  --accent: #329ab4;
  --disabled: #333;
  --disabled-text: #555;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #eeefff;
  /* Fallback */
}

p {
  max-width: 600px;
}

ul {
  max-width: 600px;
}

ol>li {
  padding-inline-start: 1rem;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-hover);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid var(--text);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #e6e6e6;
  background-color: #446aa4;
  cursor: pointer;
}

button:hover {
  background-color: #608bcd;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: var(--disabled);
  border-color: var(--disabled-text);
  color: var(--disabled-text);
  cursor: not-allowed;
}

textarea {
  max-width: 100%;
}

input,
textarea {
  border: 1px solid #333;
  padding: 0.5rem;
  background-color: var(--input-bg);
  color: var(--input-text);
  font-size: 1rem;
}

table {
  margin-block: 1rem;
  margin-inline: 0;
  background-color: var(--header-footer-bg);

  th {
    background-color: var(--accent);
  }

  tr:nth-of-type(odd) {
    background-color: var(--bg);
  }

}

table,
th,
td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 7px 10px;
}