.upload-json {
    .status-box {
        margin-top: 1rem;
    }

    .success {
        color: green;
        font-weight: bold;
    }

    .error {
        color: red;
        font-weight: bold;
    }

    .dot-anim::after {
        content: '.';
        animation: dots 1.2s steps(3, end) infinite;
    }

    @keyframes dots {
        0% {
            content: '.';
        }

        33% {
            content: '..';
        }

        66% {
            content: '...';
        }

        100% {
            content: '.';
        }
    }

    .result {
        margin-top: 1rem;

        table {
            width: 100%;
        }
    }
}