.sentiment-checker textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--input-bg);
  color: var(--input-text);
  /* color: #222; */
  font-size: 1rem;
}

.error-message {
  color: #e53e3e;
  margin-top: 1rem;
  font-weight: bold;
}

.sentiment-result {
  background-color: var(--bg);
  border: 2px solid var(--accent);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
}